<cart-drawer id="cart-drawer" class="cart-drawer drawer {% if cart.empty? %}drawer--center-body{% endif %}" initial-focus="false" handle-editor-events>
  <p class="h4" slot="header">{{ 'cart.general.title' | t }}</p>

  {%- if cart.empty? -%}
    <p class="h5 text-center">{{ 'cart.general.empty' | t }}</p>
  {%- else -%}
    {%- if settings.cart_show_free_shipping_bar -%}
      {%- render 'free-shipping-bar' -%}
    {%- endif -%}

    <div class="cart-drawer__items">
      {%- for line_item in cart.items -%}
        {%- render 'line-item', line_item: line_item, show_quantity_selector: true -%}
      {%- endfor -%}
    </div>

    <form action="{{ routes.cart_url }}" method="POST" class="cart-drawer__footer" slot="footer">
      <input type="hidden" name="attributes[products_mobile_grid_mode]" value="">
      <input type="hidden" name="attributes[products_desktop_grid_mode]" value="">

      {%- if section.settings.show_cart_note or section.settings.show_shipping_text -%}
        <div class="v-stack gap-0.5 justify-items-start">
          {%- if section.settings.show_cart_note -%}
            {%- assign cart_note_dialog_id = 'cart-note-' | append: section.id -%}
            <button class="link-faded-reverse" aria-controls="{{ cart_note_dialog_id }}">{{ 'cart.general.add_order_note' | t }}</button>

            <cart-note-dialog id="{{ cart_note_dialog_id }}" class="cart-drawer__order-note">
              <div class="form">
                <cart-note class="form-control">
                  {%- assign order_note = 'cart.general.order_note' | t -%}
                  {%- assign placeholder = 'cart.general.note_placeholder' | t -%}
                  {%- render 'input', name: 'note', multiline: 3, label: order_note, value: cart.note, placeholder: placeholder, show_label_as_block: true -%}
                </cart-note>

                <button type="button" class="button" is="dialog-close-button">{{ 'cart.general.save_note' | t }}</button>
              </div>
            </cart-note-dialog>
          {%- endif -%}

          {%- if section.settings.show_shipping_text -%}
            <p class="text-subdued">{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}</p>
          {%- endif -%}
        </div>
      {%- endif -%}

      {% for discount_application in cart.cart_level_discount_applications %}
        <div class="h-stack justify-start gap-4">
          <span class="discount-badge text-xs">{%- render 'icon' with 'discount', width: 12 -%} {{- discount_application.title -}}</span>
          <span class="text-subdued">-{{ discount_application.total_allocated_amount | money }}</span>
        </div>
      {% endfor %}

      <div class="button-group">
        {%- if section.settings.show_view_cart_button or section.settings.show_checkout_button == false -%}
          {%- assign view_cart = 'cart.general.view_cart' | t -%}
          {%- render 'button', href: routes.cart_url, content: view_cart, stretch: true -%}
        {%- endif -%}

        {%- if section.settings.show_checkout_button -%}
          {%- capture checkout_button -%}
            {{- 'cart.general.checkout' | t -}}

            {%- if section.settings.show_price_in_checkout_button -%}
              <span class="cart-drawer__button-price">{{- cart.total_price | money -}}</span>
            {%- endif -%}
          {%- endcapture -%}

          {%- render 'button', type: 'submit', content: checkout_button, name: 'checkout', stretch: true -%}
        {%- endif -%}
      </div>
    </form>
  {%- endif -%}
</cart-drawer>

{% schema %}
{
  "name": "t:sections.cart_drawer.name",
  "class": "shopify-section--cart-drawer",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.cart_drawer.page_info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.cart_drawer.free_shipping_bar_info"
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "label": "t:sections.cart_drawer.show_cart_note",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_text",
      "label": "t:sections.cart_drawer.show_shipping_text",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_cart_button",
      "label": "t:sections.cart_drawer.show_view_cart_button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_checkout_button",
      "label": "t:sections.cart_drawer.show_checkout_button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price_in_checkout_button",
      "label": "t:sections.cart_drawer.show_price_in_checkout_button",
      "default": true
    }
  ]
}
{% endschema %}