{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign collection = section.settings.collection
  assign collection_show = section.settings.collection_show

  assign use_blocks = section.settings.use_blocks

  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile

  assign slide_padding_vertical = section.settings.slide_padding_vertical
  assign slide_padding_vertical_mobile = section.settings.slide_padding_vertical_mobile
  assign slide_padding_horizontal = section.settings.slide_padding_horizontal
  assign slide_padding_horizontal_mobile = section.settings.slide_padding_horizontal_mobile
  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_border_color = section.settings.slide_border_color
  assign slide_bg_color = section.settings.slide_bg_color
  assign slide_radius = section.settings.slide_radius
  assign slide_shadow_color = section.settings.slide_shadow_color
  assign slide_shadow = section.settings.slide_shadow
  assign slide_ratio = section.settings.slide_ratio
  assign slide_ratio_mobile = section.settings.slide_ratio_mobile
  assign slide_overlay = section.settings.slide_overlay
  assign slide_overlay_color = section.settings.slide_overlay_color

  assign content_use_bg = section.settings.content_use_bg
  assign content_bg = section.settings.content_bg

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height

  assign price_size_mobile = section.settings.price_size_mobile
  assign price_size = section.settings.price_size
  assign price_color = section.settings.price_color
  assign price_original_color = section.settings.price_original_color
  assign price_custom = section.settings.price_custom
  assign price_font = section.settings.price_font
  assign price_height = section.settings.price_height
  assign price_compare = section.settings.price_compare

  assign vendor_size = section.settings.vendor_size
  assign vendor_size_mobile = section.settings.vendor_size_mobile
  assign vendor_mt = section.settings.vendor_mt
  assign vendor_mt_mobile = section.settings.vendor_mt_mobile
  assign vendor_color = section.settings.vendor_color
  assign vendor_custom = section.settings.vendor_custom
  assign vendor_font = section.settings.vendor_font
  assign vendor_height = section.settings.vendor_height
  assign hide_vendor = section.settings.hide_vendor

  assign button_text = section.settings.button_text
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style
  assign button_mt = section.settings.button_mt
  assign button_mt_mobile = section.settings.button_mt_mobile

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect
  
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  title_font | font_face: font_display: 'swap' }}
  {{  price_font | font_face: font_display: 'swap' }}
  {{  vendor_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .collection-slider-{{ section.id }} {
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
  }

  .collection-slide-{{ section.id }} {
    border-radius: {{ slide_radius }}px;
    border: {{ slide_border_thickness }}px solid {{ slide_border_color }};
    background-color: {{ slide_bg_color }};
    position: relative;
    overflow: hidden;
    box-sizing: border-box !important;
    text-decoration: none;
  }

  .collection-slide-{{ section.id }}:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: {{ slide_radius }}px;
    background-color: {{ slide_overlay_color | hex_to_rgba: slide_overlay }};
    z-index: 1;
  }

  .collection-image-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .collection-second-image-{{ section.id }} {
    opacity: 0;
  }
    
  .collection-image-{{ section.id }} img,
  .collection-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collection-content-{{ section.id }} {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 2;
    padding: {{ slide_padding_vertical_mobile }}px {{ slide_padding_horizontal_mobile }}px;
  }

  .collection-heading-{{ section.id }} {
    margin: 0px;
    font-size: {{ heading_size_mobile }}px;
    line-height: {{ heading_height }}%;
    color: {{ heading_color }};
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }

  .collection-bottom-inner-{{ section.id }} {
    transition: all 0.5s ease 0.2s;
  }

  .collection-bottom-top-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .collection-title-{{ section.id }} {
    flex: 0 1 70%;
    margin: 0px;
    font-size: {{ title_size_mobile }}px;
    line-height: {{ title_height }}%;
    color: {{ title_color }};
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }

  .collection-price-{{ section.id }} {
    display: flex;
    flex-direction: column;
  }

  .collection-price-{{ section.id }} * {
    margin: 0;
    font-size: {{ price_size_mobile }}px;
    color: {{ price_color }};
    line-height: {{ price_height }}%;
    text-transform: unset;
    font-style: normal;
  }

  .collection-compare-price-{{ section.id }} {
    opacity: 0.8;
    font-size: {{ price_size | times: 0.8 }}px;
    color: {{ price_original_color }};
    text-decoration: line-through !important;
  }

  .collection-vendor-{{ section.id }} {
    margin: 0;
    margin-top: {{ vendor_mt_mobile }}px;
    font-size: {{ vendor_size_mobile }}px;
    color: {{ vendor_color }};
    line-height: {{ vendor_height }}%;
    text-transform: unset;
    transition: all 0.25s ease 0s;
    text-align: left;
  }

  .collection-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    margin-top: {{ button_mt_mobile }}px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 1s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
  }

  .collection-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .collection-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .collection-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .collection-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .collection-btn-prev-{{ section.id }},
  .collection-btn-next-{{ section.id }} {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15);
  }

  .collection-btn-prev-{{ section.id }} {
    left: 10px;
  }

  .collection-btn-next-{{ section.id }} {
    right: 10px;
  }

  .collection-btn-prev-{{ section.id }} .animate-icon,
  .collection-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .collection-btn-prev-{{ section.id }} .animate-icon:before,
  .collection-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentcolor;
    border-top: 2px solid currentcolor;
    position: relative;
    left: -1px;
  }

  .collection-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentcolor;
    border-left: 2px solid currentcolor;
  }

  .collection-btn-prev-{{ section.id }} .animate-icon:after,
  .collection-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentcolor;
    transform: scaleX(.5);
  }

  .collection-btn-prev-{{ section.id }} span,
  .collection-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .collection-btn-prev-{{ section.id }}.swiper-button-disabled,
  .collection-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .collection-slider-{{ section.id }} {
      padding-left: {{ padding_horizontal }}rem !important;
      padding-right: {{ padding_horizontal }}rem !important;
      margin-left: -{{ padding_horizontal }}rem !important;
      margin-right: -{{ padding_horizontal }}rem !important;
    }

    .collection-content-{{ section.id }} {
      padding: {{ slide_padding_vertical }}px {{ slide_padding_horizontal }}px;
    }

    .collection-heading-{{ section.id }} {
      font-size: {{ heading_size }}px;
    }

    .collection-title-{{ section.id }} {
      font-size: {{ title_size }}px;
    }

    .collection-price-{{ section.id }} * {
      font-size: {{ price_size }}px;
    }

    .collection-vendor-{{ section.id }} {
      margin-top: {{ vendor_mt }}px;
      font-size: {{ vendor_size }}px;
    }

    .collection-button-{{ section.id }} {
      width: calc(100% - {{ slide_padding_horizontal | times: 2 }}px);
      position: absolute;
      bottom: -100%;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.5s ease 0s;
      margin-top: {{ button_mt }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

    .collection-slide-{{ section.id }}:hover .collection-button-{{ section.id }} {
      transition: all 0.4s ease 0s;
      bottom: {{ slide_padding_vertical }}px;
    }

    .collection-slide-{{ section.id }}:hover .collection-bottom-inner-{{ section.id }} {
      opacity: 0;
      transition: all 0.5s ease 0s;
    }

    .collection-slide-{{ section.id }}:hover .collection-second-image-{{ section.id }} {
      opacity: 1;
      transition: all .7s cubic-bezier(.76,0,.24,1);
    }
  
    .collection-slide-{{ section.id }}:hover .collection-first-image-{{ section.id }} {
      opacity: 0;
      transition: all .7s cubic-bezier(.76,0,.24,1);
    }

    .collection-btn-prev-{{ section.id }},
    .collection-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .collection-btn-prev-{{ section.id }} .animate-icon:before,
    .collection-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .collection-btn-prev-{{ section.id }} .animate-icon:after,
    .collection-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }

    .collection-btn-prev-{{ section.id }} {
      left: {{ arrow_size }}px !important;
    }
  
    .collection-btn-next-{{ section.id }} {
      right: {{ arrow_size }}px !important;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .collection-heading-{{ section.id }} {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .collection-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if price_custom %}
  <style>
    .collection-price-{{ section.id }} * {
      font-family: {{ price_font.family }}, {{ price_font.fallback_families }};
      font-weight: {{ price_font.weight }};
      font-style: {{ price_font.style }};
    }
  </style>
{% endif %}

{% if vendor_custom %}
  <style>
    .collection-vendor-{{ section.id }} {
      font-family: {{ vendor_font.family }}, {{ vendor_font.fallback_families }};
      font-weight: {{ vendor_font.weight }};
      font-style: {{ vendor_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .collection-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .collection-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
    }

    .collection-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .collection-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .collection-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .collection-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if slide_ratio_mobile == "portrait" %}
  <style>
    .collection-slide-{{ section.id }} {
     aspect-ratio: 9.6/13; 
    }
  </style>
{% elsif slide_ratio_mobile == "landscape" %}
  <style>
    .collection-slide-{{ section.id }}{
     aspect-ratio: 12/6; 
    }
  </style>
{% elsif slide_ratio_mobile == "square" %}
  <style>
    .collection-slide-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else %}
  <style>
    .collection-slide-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if slide_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .collection-slide-{{ section.id }} {
       aspect-ratio: 9.6/11; 
      } 
    }
  </style>
{% elsif slide_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .collection-slide-{{ section.id }}{
       aspect-ratio: 12/6; 
      }
    }
  </style>
{% elsif slide_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .collection-slide-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .collection-slide-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if slide_shadow %}
  <style>
    .collection-slide-{{ section.id }} {
      box-shadow: {{ slide_shadow_color | hex_to_rgba: 0.15 }} 0px 2px 12px;
    }

    .collection-slider-{{ section.id }} {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 10px;
      padding-right: 10px;
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .collection-btn-prev-{{ section.id }}:hover,
    .collection-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .collection-btn-prev-{{ section.id }}:hover .animate-icon,
    .collection-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .collection-btn-prev-{{ section.id }}:hover,
    .collection-btn-next-{{ section.id }}:hover {
      transform: scale(0.9) translateY(-50%);
    }

    @media(min-width: 1024px) {
      .collection-btn-prev-{{ section.id }}:hover,
      .collection-btn-next-{{ section.id }}:hover {
        transform: scale(0.9) translateY(-50%);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .collection-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .collection-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .collection-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .collection-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .collection-btn-prev-{{ section.id }},
    .collection-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .collection-btn-prev-{{ section.id }},
    .collection-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .collection-btn-prev-{{ section.id }},
      .collection-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .collection-btn-prev-{{ section.id }},
      .collection-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if content_use_bg %}
  <style>

    .collection-content-{{ section.id }} {
      position: relative;
      background-color: {{ content_bg }};
      transition: all .7s cubic-bezier(.76,0,.24,1);
      transition-delay: 3s;
    }

    .collection-content-{{ section.id }}:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: {{ content_bg }};
      transition: opacity .3s cubic-bezier(.76,0,.24,1);
      transition-delay: 0.25s;
      opacity: 1;
      z-index: -1;
    }
    
    @media(min-width: 1024px) {
      .collection-slide-{{ section.id }}:hover .collection-content-{{ section.id }}:after {
        opacity: 0;
        transition: opacity .7s cubic-bezier(.76,0,.24,1);
      }
    }
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .collection-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .collection-slider-{{ section.id }}.preview .collection-slide-{{ section.id }} {
    width: 100%;
  }

  .collection-slider-{{ section.id }}.preview .collection-slide-{{ section.id }}:not(:first-child) {
    margin-left: {{ slider_gap_mobile }}px;
  } 

  @media(min-width: 1024px) {
    .collection-slider-{{ section.id }}.preview .collection-slide-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    } 

    .collection-slider-{{ section.id }}.preview .collection-slide-{{ section.id }} {
      width: calc(100% / {{ slider_view }} - ({{ slider_gap }}px * {{ slider_view | minus: 1 }}));
    }
  }
</style>

<div class="section-{{ section.id }} collection-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="collection-slider-{{ section.id }} swiper preview">
        <button class="collection-btn-prev-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
        <button class="collection-btn-next-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>    
        <div class="swiper-wrapper">
          {% if collection != blank %}
            {% for product in collections[collection].products limit: collection_show %}
              <a href="{{ product.url }}" class="collection-slide-{{ section.id }} swiper-slide">
              <div class="collection-image-{{ section.id }} {% if product.media.size > 1 %}collection-first-image-{{ section.id }}{% endif %}">
                {% if product.featured_image != blank %}
                  <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
              {% if product.media.size > 1 %}
                <div class="collection-image-{{ section.id }} collection-second-image-{{ section.id }}">
                  {% if product.media.size > 1 %}
                    {% for media in product.media %}
                      {% if forloop.index == 2 %}
                        <img src="{{ media | image_url }}" alt="{{ media.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
              {% endif %}

              <div class="collection-content-{{ section.id }}">

                <div class="collection-top-{{ section.id }}">
                  {% if heading != blank %}
                    <p class="collection-heading-{{ section.id }}">{{ heading }}</p>
                  {% endif %}
                </div>

                <div class="collection-bottom-{{ section.id }}">
                  <div class="collection-bottom-inner-{{ section.id }}">
                    <div class="collection-bottom-top-{{ section.id }}">
                      <div class="colelction-bototm-left-{{ section.id }}">
                        <p class="collection-title-{{ section.id }}">
                          {{ product.title }}
                        </p>
                        {% unless hide_vendor %}
                        <p class="collection-vendor-{{ section.id }}">
                          {% if product.vendor != blank %}
                              {{ product.vendor }}
                            {% endif %}
                        </p>
                        {% endunless %}
                      </div>
                      <div class="collection-price-{{ section.id }}">
                        <p class="collection-regular-price-{{ section.id }}">{{ product.price | money }}</p>
                        {% if product.compare_at_price != blank and price_compare %}
                          <p class="collection-compare-price-{{ section.id }}">{{ product.compare_at_price | money }}</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% if button_text != blank %}
                  <div class="collection-button-{{ section.id }}">
                    {{ button_text }}
                     {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                        <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                          <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                        </svg>
                      {% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
            </a>
            {% endfor %}
          {% else %}
          {% for block in section.blocks %}
            <{% if block.settings.product != blank %}a href="{{ block.settings.product.url }}"{% else %}div{% endif %} class="collection-slide-{{ section.id }} swiper-slide">
              <div class="collection-image-{{ section.id }} {% if block.settings.second_image != blank or block.settings.product.media.size > 1 %}collection-first-image-{{ section.id }}{% endif %}">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% elsif block.settings.product.featured_image != blank %}
                  <img src="{{ block.settings.product.featured_image | image_url }}" alt="{{ block.settings.product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
              {% if block.settings.second_image != blank or block.settings.product.media.size > 1 %}
                <div class="collection-image-{{ section.id }} collection-second-image-{{ section.id }}">
                  {% if block.settings.second_image != blank %}
                    <img src="{{ block.settings.second_image | image_url }}" alt="{{ block.settings.second_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                  {% elsif block.settings.product.media.size > 1 %}
                    {% for media in block.settings.product.media %}
                      {% if forloop.index == 2 %}
                        <img src="{{ media | image_url }}" alt="{{ media.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
              {% endif %}

              <div class="collection-content-{{ section.id }}">
                {% if block.settings.heading != blank %}
                  <p class="collection-heading-{{ section.id }}">{{ block.settings.heading }}</p>
                {% endif %}

                <div class="collection-bottom-{{ section.id }}">
                  <div class="collection-bottom-inner-{{ section.id }}">
                    <div class="collection-bottom-top-{{ section.id }}">
                      <div class="colelction-bototm-left-{{ section.id }}">
                        <p class="collection-title-{{ section.id }}">
                          {% if block.settings.product != blank %}
                            {{ block.settings.product.title }}
                          {% else %}
                            Product
                          {% endif %}
                        </p>
                        {% unless hide_vendor %}
                        <p class="collection-vendor-{{ section.id }}">
                          {% if block.settings.product.vendor != blank %}
                              {{ block.settings.product.vendor }}
                            {% else %}
                              Product Vendor
                            {% endif %}
                        </p>
                        {% endunless %}
                      </div>
                      <div class="collection-price-{{ section.id }}">
                        <p class="collection-regular-price-{{ section.id }}">{% if block.settings.product != blank %}{{ block.settings.product.price | money }}{% else %}$19.99{% endif %}</p>
                        {% if block.settings.product.compare_at_price != blank and price_compare %}
                          <p class="collection-compare-price-{{ section.id }}">{{ block.settings.product.compare_at_price | money }}</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% if block.settings.button_text != blank %}
                  <div class="collection-button-{{ section.id }}">
                    {{ block.settings.button_text }}
                     {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                        <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                          <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                        </svg>
                      {% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
            </{% if block.settings.product != blank %}a{% else %}div{% endif %}>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initScrollingProducts() {
    document.querySelector('.collection-slider-{{ section.id }}').classList.remove('preview');
    const slider = new Swiper(".collection-slider-{{ section.id }}", {
      speed: 300,
      spaceBetween: 20,
      navigation: {
        nextEl: '.collection-btn-next-{{ section.id }}',
        prevEl: '.collection-btn-prev-{{ section.id }}',
      },
      pagination: {
        el: '.collection-pagination-{{ section.id }}',
        type: 'bullets',
        clickable: true,
      },
      breakpoints: {
        320: {
          spaceBetween: {{ slider_gap_mobile }},
          slidesPerView: {{ slider_view_mobile }}
        },
        768: {
          spaceBetween: {{ slider_gap_mobile }},
          slidesPerView: {{ slider_view | times: 0.5 | round: 0 }}
        },
        1024: {
          spaceBetween: {{ slider_gap }},
          slidesPerView: {{ slider_view }}
        }
      }
    });
  }

  document.addEventListener('DOMContentLoaded', initScrollingProducts);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initScrollingProducts);
     document.addEventListener('shopify:section:load', initScrollingProducts);
  }
</script>

{% schema %}
  {
    "name": "SS-Featured Collection #6",
    "settings": [
      {
        "type": "paragraph",
        "content": "Save to display section correctly."
      },
      {
        "type": "header",
        "content": "Collection settings"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "info":"Leave empty to use blocks"
      },
      {
        "type": "range",
        "id": "collection_show",
        "min": 4,
        "max": 40,
        "step": 1,
        "label": "Products to show",
        "default": 10
      },
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 1,
        "max": 6,
        "step": 0.1,
        "label": "Slide per view",
        "default": 3
      },
      {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 3,
        "step": 0.1,
        "label": "Slide per view - mobile",
        "default": 1.2
      },
      {
        "type": "range",
        "id": "slider_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 40
      },
      {
        "type": "range",
        "id": "slider_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 20
      },
      {
        "type": "header",
        "content": "Card settings"
      },
      {
        "type": "range",
        "id": "slide_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 28
      },
      {
        "type": "range",
        "id": "slide_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 16
      },
      {
         "type": "range",
         "id": "slide_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Padding horizontal",
         "default": 16
      },
      {
         "type": "range",
         "id": "slide_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Padding horizontal - mobile",
         "default": 12
      },
      {
         "type": "range",
         "id": "slide_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Roundness",
         "default": 12
      },
      {
         "type": "range",
         "id": "slide_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Border thickness",
         "default": 0
      },
      {
        "type": "select",
        "id": "slide_ratio",
        "label": "Aspect ratio",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "slide_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "range",
        "id": "slide_overlay",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Overlay opacity",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "slide_shadow",
        "label": "Box shadow",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "content_use_bg",
        "label": "Use background gradient",
        "info":"For better readability"
      },
      {
        "type": "header",
        "content": "Card heading settings"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Text",
        "default": "Store",
        "info": "For products from collection"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 40
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 32
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Product title settings"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },
      {
        "type": "header",
        "content": "Product price settings"
      },
      {
        "type": "checkbox",
        "id": "price_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "price_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "price_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "price_size_mobile",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "price_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },
      {
        "type": "checkbox",
        "id": "price_compare",
        "label": "Show compare at price",
        "default": false
      },
      {
        "type": "header",
        "content": "Product vendor settings"
      },
      {
        "type": "checkbox",
        "id": "hide_vendor",
        "label": "Hide vendor"
      },
      {
        "type": "checkbox",
        "id": "vendor_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "vendor_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "vendor_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "vendor_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "vendor_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "range",
        "id": "vendor_mt",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 8
      },
      {
        "type": "range",
        "id": "vendor_mt_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8
      },
      {
        "type": "header",
        "content": "Product button"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "SHOP NOW",
        "info": "For products from collection"
      },
      {
        "type": "checkbox",
        "id": "button_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "button_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "button_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 12
      },
      {
         "type": "range",
         "id": "button_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Padding horizontal",
         "default": 12
      },
      {
         "type": "range",
         "id": "button_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Padding horizontal - mobile",
         "default": 12
      },
      {
         "type": "range",
         "id": "button_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Roundness",
         "default": 100
      },
      {
         "type": "range",
         "id": "button_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Border thickness",
         "default": 0
      },
      {
         "type": "range",
         "id": "button_mt_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Margin top - mobile",
         "default": 16
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "non_outline",
        "options": [
          {
            "label": "Link",
            "value": "link"
          },
          {
            "label": "Non-outline",
            "value": "non_outline"
          },
          {
            "label": "Non-outline & arrow",
            "value": "non_outline_arrow"
          },
          {
            "label": "Outline",
            "value": "outline"
          },
          {
            "label": "Outline & arrow",
            "value": "outline_arrow"
          }
        ]
      },
      {
        "type": "header",
        "content": "Arrow settings"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 8
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 8
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Card colors"
      },
      {
        "type": "color",
        "label": "Background color",
        "id": "slide_bg_color",
        "default": "#F8F8F8"
      },
      {
        "type": "color",
        "label": "Border color",
        "id": "slide_border_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Box shadow color",
        "id": "slide_shadow_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Overlay color",
        "id": "slide_overlay_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Heading color",
        "id": "heading_color",
        "default": "#696660"
      },
      {
        "type": "color_background",
        "id": "content_bg",
        "label": "Content background gradient",
        "default": "rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.7) 100%)"
      },
      {
        "type": "header",
        "content": "Product colors"
      },
      {
        "type": "color",
        "label": "Title color",
        "id": "title_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Price color",
        "id": "price_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Original price color",
        "id": "price_original_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Vendor color",
        "id": "vendor_color",
        "default": "#696660"
      },
      {
        "type": "header",
        "content": "Product button colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "button_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Hover text",
        "id": "button_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "button_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "button_bg_hover_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Button border",
        "id": "button_border_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "button_border_hover_color",
        "default": "#696660"
      },
      {
        "type": "header",
        "content": "Arrow colors"
      },
      {
        "type": "color",
        "label": "Icon color",
        "id": "arrow_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Icon hover color",
        "id": "arrow_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background color",
        "id": "arrow_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background hover color",
        "id": "arrow_bg_hover_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Border color",
        "id": "arrow_border_color",
        "default": "#696660"
      },
      {
        "type": "color",
        "label": "Border hover color",
        "id": "arrow_border_hover_color",
        "default": "#696660"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 4
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "If empty then the product image will be displayed"
          },
          {
            "type": "image_picker",
            "id": "second_image",
            "label": "Second image",
            "info": "If empty then the second product image will be displayed"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Slide heading",
            "default": "Slide heading"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "SHOP NOW",
            "info": "Leave this field blank to hide the button."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Featured Collection #6",
        "blocks": [
          {
            "type": "slide",
            "settings": {
              "heading": "Slide 1",
              "button_text": "SHOP NOW"
            }
          },
          {
            "type": "slide",
            "settings": {
              "heading": "Slide 2",
              "button_text": "SHOP NOW"
            }
          },
          {
            "type": "slide",
            "settings": {
              "heading": "Slide 3",
              "button_text": "SHOP NOW"
            }
          },
           {
            "type": "slide",
            "settings": {
              "heading": "Slide 4",
              "button_text": "SHOP NOW"
            }
          }
        ]
      }
    ]
  }
{% endschema %}