{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign show_type = section.settings.show_type

  assign transparent = section.settings.transparent

  assign body_gap_mobile = section.settings.body_gap_mobile
  assign body_gap = section.settings.body_gap

  assign menu = section.settings.menu
  assign mobile_menu_bg_color = section.settings.mobile_menu_bg_color
  assign mega_menu_radius = section.settings.mega_menu_radius

  assign list_gap_mobile = section.settings.list_gap_mobile
  assign list_gap = section.settings.list_gap

  assign link_size = section.settings.link_size
  assign link_size_mobile = section.settings.link_size_mobile
  assign link_color = section.settings.link_color
  assign link_hover_color = section.settings.link_hover_color
  assign link_hero_color = section.settings.link_hero_color
  assign link_hover_hero_color = section.settings.link_hover_hero_color
  assign link_custom = section.settings.link_custom
  assign link_font = section.settings.link_font
  assign link_height = section.settings.link_height

  assign menu_icon_size_mobile = section.settings.menu_icon_size_mobile

  assign logo = section.settings.logo
  assign second_logo = section.settings.second_logo
  assign logo_mobile = section.settings.logo_mobile
  assign second_logo_mobile = section.settings.second_logo_mobile
  assign logo_position = section.settings.logo_position
  assign logo_width = section.settings.logo_width
  assign logo_width_mobile = section.settings.logo_width_mobile

  assign name_size = section.settings.name_size
  assign name_size_mobile = section.settings.name_size_mobile
  assign name_color = section.settings.name_color
  assign name_hover_color = section.settings.name_hover_color
  assign name_hero_color = section.settings.name_hero_color
  assign name_hover_hero_color = section.settings.name_hover_hero_color
  assign name_custom = section.settings.name_custom
  assign name_font = section.settings.name_font
  assign name_height = section.settings.name_height

  assign right_gap_mobile = section.settings.right_gap_mobile
  assign right_gap = section.settings.right_gap

  assign right_link_size = section.settings.right_link_size
  assign right_link_color = section.settings.right_link_color
  assign right_link_hover_color = section.settings.right_link_hover_color
  assign right_link_hero_color = section.settings.right_link_hero_color
  assign right_link_hover_hero_color = section.settings.right_link_hover_hero_color
  assign right_link_custom = section.settings.right_link_custom
  assign right_link_font = section.settings.right_link_font
  assign right_link_height = section.settings.right_link_height

  assign icon_size_mobile = section.settings.icon_size_mobile
  assign icon_size = section.settings.icon_size

  assign use_search = section.settings.use_search
  assign search_text  = section.settings.search_text
  assign search_icon_desktop  = section.settings.search_icon_desktop

  assign account_text  = section.settings.account_text
  assign account_icon_desktop  = section.settings.account_icon_desktop

  assign cart_text  = section.settings.cart_text
  assign cart_icon_desktop  = section.settings.cart_icon_desktop
  
-%}

{%- style -%}

  {{ link_font | font_face: font_display: 'swap' }}
  {{ name_font | font_face: font_display: 'swap' }}
  {{ right_link_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .header-{{ section.id }}.transparent {
    background-color: transparent !important;
    background-image: none !important;
    position: absolute;
    width: calc(100% - {{margin_horizontal_mobile | times: 2 }}rem);
    top: 0;
    left: 0;
    z-index: 999;
  }

  .header-{{ section.id }}.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - {{margin_horizontal_mobile | times: 2 }}rem);
    z-index: 999;
  }

  .header-{{ section.id }} {
    transform: translateY(-150%) ;
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}.active {
    transform: translateY(0);
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}.onscroll {
    background-color:{{ background_color }} !important;
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-body-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr {{ logo_width_mobile }}px 1fr;
    align-items: center;
    gap: {{ body_gap_mobile }}px;
  }

  .header-menu-list-{{ section.id }} {
    padding: 0px;
    margin: 0px;
    display: none;
    align-items: center;
    gap: {{ list_gap_mobile }}px;
    flex-wrap: wrap;
    list-style: none;
  }

  .header-menu-mobile-{{ section.id }} .header-menu-list-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .header-menu-item-{{ section.id }} {
    line-height: 100%;
  }

  .header-menu-link-{{ section.id }} {
    margin: 0;
    font-size: {{ link_size_mobile }}px;
    color: {{ link_color }};
    line-height: {{ link_height }}%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    transition: all .7s cubic-bezier(.76,0,.24,1);
    position: relative;
    z-index: 3;
  }

  .header-menu-child-link-{{ section.id }} {
    font-size: {{ link_size_mobile | times: 0.85 }}px;
    text-transform: unset;
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-menu-link-{{ section.id }} {
    color: {{ link_hero_color }};
  }

  .header-{{ section.id }}.open.transparent .header-menu-link-{{ section.id }} {
    color: {{ link_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-menu-icon-{{ section.id }} {
    display: block;
    width: 100%;
    max-width: {{ menu_icon_size_mobile }}px;
    position: relative;
    z-index: 3;
    transition: all .7s cubic-bezier(.76,0,.24,1);
    cursor: pointer;
  }

  .header-menu-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-menu-icon-{{ section.id }} svg rect {
    fill: {{ link_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-menu-icon-{{ section.id }} svg rect {
    fill: {{ link_hero_color }};
  }

  .header-{{ section.id }}.open.transparent .header-menu-icon-{{ section.id }} svg rect {
    fill: {{ link_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}.open .header-menu-icon-{{ section.id }} {
    transform: rotate(180deg);
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}.open .header-menu-icon-{{ section.id }} svg rect:not(:first-child) {
    opacity: 0;
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-logo-{{ section.id }} {
    width: 100%;
    max-width: {{ logo_width_mobile }}px;
    text-align: center;
    position: relative;
    z-index: 3;
  }

  .header-logo-image-{{ section.id }} img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-logo-image-desktop-{{ section.id }} {
    display: none;
  }

  .header-logo-text-{{ section.id }} {
    margin: 0;
    font-size: {{ name_size_mobile }}px;
    color: {{ name_color }};
    line-height: {{ name_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-logo-text-{{ section.id }} {
    color: {{ name_hero_color }};
  }

  .header-{{ section.id }}.open.transparent .header-logo-text-{{ section.id }} {
    color: {{ name_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-right-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: {{ right_gap_mobile }}px;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
  }

  .header-search-text-{{ section.id }},
  .header-account-text-{{ section.id }},
  .header-cart-text-{{ section.id }}{
    display: none;
    margin: 0;
    color: {{ right_link_color }};
    line-height: {{ right_link_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-cart-{{ section.id }} .cart-count-bubble span {
    margin: 0;
    font-size: {{ right_link_size | times: 0.5 }}px;
    color: {{ right_link_color }};
    line-height: {{ right_link_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-search-text-{{ section.id }},
  .header-{{ section.id }}:not(.onscroll).transparent .header-account-text-{{ section.id }},
  .header-{{ section.id }}:not(.onscroll).transparent .header-cart-text-{{ section.id }} {
    color: {{ right_link_hero_color }};
  }

  .header-{{ section.id }}.open.transparent .header-search-text-{{ section.id }},
  .header-{{ section.id }}.open.transparent .header-account-text-{{ section.id }},
  .header-{{ section.id }}.open.transparent .header-cart-text-{{ section.id }} {
    color: {{ right_link_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-cart-{{ section.id }} .cart-count-bubble span{
    color: {{ right_link_hero_color }};
  }

  .header-{{ section.id }}.open.transparent .header-cart-{{ section.id }} .cart-count-bubble span{
    color: {{ right_link_color }};
  }

  .header-search-icon-{{ section.id }},
  .header-account-icon-{{ section.id }},
  .header-cart-icon-{{ section.id }} {
    display: block;
    width: {{ icon_size_mobile }}px;
  }

  .header-search-icon-{{ section.id }} svg,
  .header-account-icon-{{ section.id }} svg,
  .header-cart-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-search-icon-{{ section.id }} svg path,
  .header-account-icon-{{ section.id }} svg path,
  .header-cart-icon-{{ section.id }} svg path {
    fill: {{ right_link_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-search-icon-{{ section.id }}:hover svg path,
  .header-account-icon-{{ section.id }}:hover svg path,
  .header-cart-icon-{{ section.id }}:hover svg path {
    fill: {{ right_link_hover_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-search-icon-{{ section.id }} svg path,
  .header-{{ section.id }}:not(.onscroll).transparent .header-account-icon-{{ section.id }} svg path,
  .header-{{ section.id }}:not(.onscroll).transparent .header-cart-icon-{{ section.id }} svg path {
    fill: {{ right_link_hero_color }};
  }

  .header-{{ section.id }}.open.transparent .header-search-icon-{{ section.id }} svg path,
  .header-{{ section.id }}.open.transparent .header-account-icon-{{ section.id }} svg path,
  .header-{{ section.id }}.open.transparent .header-cart-icon-{{ section.id }} svg path {
    fill: {{ right_link_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-cart-{{ section.id }},
  .header-account-{{ section.id }} {
    text-decoration: none;
  }
  
  .header-search-{{ section.id }} {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
  }

  .header-{{ section.id }} .header-logo-first-{{ section.id }} {
    display: block !important;
  }

  .header-{{ section.id }} .header-logo-second-{{ section.id }} {
    display: none !important;
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-logo-first-{{ section.id }} {
    display: none !important;
  }

  .header-{{ section.id }}.open.transparent .header-logo-first-{{ section.id }} {
    display: block !important;
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-logo-second-{{ section.id }} {
    display: block !important;
  }

  .header-{{ section.id }}.open.transparent .header-logo-second-{{ section.id }} {
    display: none !important;
  }

  .header-cart-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
  }

  .header-cart-{{ section.id }} .cart-count-bubble {
    position: absolute;
    left: 60%;
    top: -8px;
    transform: translateX(-50%);
    padding: 0px;
    background-color: transparent;
    border: 0px;
    margin: 0px;
    width: fit-content;
    height: fit-content;
  }

  .header-menu-mobile-{{ section.id }} {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: {{ mobile_menu_bg_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
  }

  .header-{{ section.id }}.open .header-menu-mobile-{{ section.id }} {
    height: 95vh;
    opacity: 1;
    pointer-events: all;
    transition: all .7s cubic-bezier(.76,0,.24,1);
  }

  .header-menu-mobile-inner-{{ section.id }} {
    width: 100%;
    height: 100%;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .header-menu-mobile-inner-{{ section.id }} .header-menu-item-{{ section.id }} {
    display: flex;
    flex-direction: column;
    gap: {{ list_gap_mobile | times: 0.5 }}px;
  }

  .header-tab-{{ section.id }} {
    width: 100%;
  }

  .header-tab-toggle-{{ section.id }} {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    cursor: pointer;
  }

  .header-tab-toggle-left-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
  }

  .header-tab-toggle-arrow-{{ section.id }} {
    flex: 0 0 15px;
    height: 15px;
    transition: all 0.3s ease 0s;
    transform: rotate(var(--rotate));
  }

  .header-tab-toggle-arrow-{{ section.id }} path {
    fill: {{ link_color }};
  }

  .header-tab-text-{{ section.id }} {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  .header-tab-height-cal-{{ section.id }} {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header-mega-menu-{{ section.id }} {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    min-height: 150px;
    align-items: end;
    background-color: {{ background_color }};
    transition: all .7s cubic-bezier(.76,0,.24,1);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    padding: 32px 0px;
    border-bottom-left-radius: {{ mega_menu_radius }}px;
    border-bottom-right-radius: {{ mega_menu_radius }}px;
  }

  .header-menu-item-{{ section.id }}:hover .header-mega-menu-{{ section.id }} {
    transition: all .7s cubic-bezier(.76,0,.24,1);
    opacity: 1;
    pointer-events: all;
  }

  .header-mega-menu-container-{{ section.id }} {
    padding-left: {{ padding_horizontal }}rem;
    padding-right: {{ padding_horizontal }}rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 100%;
  }

  .header-mega-menu-container-{{ section.id }}.header-mega-menu-container-row-{{ section.id }} {
    flex-direction: row;
    flex-wrap: wrap;
    gap: {{ list_gap }}px;
  }

  .header-logo-desktop-{{ section.id }} {
    display: none;
  }

  .header-mega-menu-child-list-{{ section.id }} {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .header-{{ section.id }}.transparent {
      width: calc(100% - {{ margin_horizontal | times: 2 }}rem);
    }
  
    .header-{{ section.id }}.fixed {
      width: calc(100% - {{ margin_horizontal | times: 2 }}rem);
    }

    .header-body-{{ section.id }} {
      gap: {{ body_gap }}px;
    }

    .header-menu-icon-{{ section.id }} {
      display: none;
    }

    .header-menu-list-{{ section.id }} {
      display: flex;
      gap: {{ list_gap }}px;
    }

    .header-menu-link-{{ section.id }} {
      font-size: {{ link_size }}px;
      transition: all .7s cubic-bezier(.76,0,.24,1);
    }

    .header-menu-link-{{ section.id }}:hover {
      transition: all .7s cubic-bezier(.76,0,.24,1);
      color: {{ link_hover_color }};
    }

    .header-menu-child-link-{{ section.id }} {
      font-size: {{ link_size | times: 0.85 }}px;
    }

    .header-{{ section.id }}:not(.onscroll).transparent .header-menu-link-{{ section.id }}:hover{
      color: {{ link_hover_hero_color }};
    }

    .header-logo-{{ section.id }} {
      max-width: {{ logo_width }}px;
    }

    .header-logo-image-desktop-{{ section.id }} {
      display: block;
    }

    .header-logo-image-mobile-{{ section.id }} {
      display: none;
    }

    .header-logo-text-{{ section.id }} {
      font-size: {{ name_size }}px;
      transition: all .7s cubic-bezier(.76,0,.24,1);
    }

    .header-logo-text-{{ section.id }}:hover {
      transition: all .7s cubic-bezier(.76,0,.24,1);
      color: {{ name_hover_color }};
    }

    .header-{{ section.id }}:not(.onscroll).transparent .header-logo-text-{{ section.id }}:hover {
      color: {{ name_hover_hero_color }}!important;
    }

    .header-right-{{ section.id }} {
      gap: {{ right_gap }}px;
      order: 3;
    }

    .header-search-text-{{ section.id }},
    .header-account-text-{{ section.id }},
    .header-cart-text-{{ section.id }} {
      display: inline;
      font-size: {{ right_link_size }}px;
    }

    .header-search-text-{{ section.id }}:hover,
    .header-account-text-{{ section.id }}:hover,
    .header-cart-text-{{ section.id }}:hover {
      transition: all .7s cubic-bezier(.76,0,.24,1);
      color: {{ right_link_hover_color }}!important;
    }

    .header-{{ section.id }}:not(.onscroll).transparent .header-search-text-{{ section.id }}:hover,
    .header-{{ section.id }}:not(.onscroll).transparent .header-account-text-{{ section.id }}:hover,
    .header-{{ section.id }}:not(.onscroll).transparent .header-cart-text-{{ section.id }}:hover {
      color: {{ right_link_hover_hero_color }}!important;
    }

    .header-search-icon-{{ section.id }},
    .header-account-icon-{{ section.id }},
    .header-cart-icon-{{ section.id }} {
      display: none;
      width: {{ icon_size }}px;
    }

    .header-search-icon-{{ section.id }}:hover svg path,
    .header-account-icon-{{ section.id }}:hover svg path,
    .header-cart-icon-{{ section.id }}:hover svg path {
      fill: {{ right_link_hover_color }};
      transition: all .7s cubic-bezier(.76,0,.24,1);
    }

    .header-{{ section.id }}:not(.onscroll).transparent .header-search-icon-{{ section.id }}:hover svg path,
    .header-{{ section.id }}:not(.onscroll).transparent .header-account-icon-{{ section.id }}:hover svg path,
    .header-{{ section.id }}:not(.onscroll).transparent .header-cart-icon-{{ section.id }}:hover svg path {
      fill: {{ right_link_hover_hero_color }};
    }

    .header-cart-{{ section.id }} .cart-count-bubble span {
      font-size: {{ right_link_size }}px;
      position: relative;
    }

    .header-cart-{{ section.id }} .cart-count-bubble {
      position: static;
      transform: translateX(0);
    }

    .header-cart-{{ section.id }} .cart-count-bubble span:before {
      content: '(';
    }

    .header-cart-{{ section.id }} .cart-count-bubble span:after {
      content: ')';
    }

    .header-cart-{{ section.id }}:hover .cart-count-bubble span {
      transition: all .7s cubic-bezier(.76,0,.24,1);
      color: {{ right_link_hover_color }};
    }

    .header-{{ section.id }}:not(.onscroll).transparent .header-cart-{{ section.id }}:hover .cart-count-bubble span {
      color: {{ right_link_hover_hero_color }};
    }

    .header-menu-mobile-{{ section.id }} {
      display: none;
    }

    .header-logo-desktop-{{ section.id }} {
      display: block;
    }

    .header-logo-mobile-{{ section.id }} {
      display: none;
    }
    
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings,
    .header-mega-menu-container-{{ section.id }} {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if link_custom %}
  <style>
    .header-menu-link-{{ section.id }} {
      font-family: {{ link_font.family }}, {{ link_font.fallback_families }};
      font-weight: {{ link_font.weight }};
      font-style: {{ link_font.style }};
    }
  </style>
{% endif %}

{% if name_custom %}
  <style>
    .header-logo-text-{{ section.id }} {
      font-family: {{ name_font.family }}, {{ name_font.fallback_families }};
      font-weight: {{ name_font.weight }};
      font-style: {{ name_font.style }};
    }
  </style>
{% endif %}

{% if right_link_custom %}
  <style>
    .header-search-text-{{ section.id }},
    .header-account-text-{{ section.id }},
    .header-cart-text-{{ section.id }} {
      font-family: {{ right_link_font.family }}, {{ right_link_font.fallback_families }};
      font-weight: {{ right_link_font.weight }};
      font-style: {{ right_link_font.style }};
    }
  </style>
{% endif %}

{% if logo_position == "center" %}
  <style>
    @media(min-width: 1024px) {

      .header-body-{{ section.id }} {
        grid-template-columns: 1fr {{ logo_width }}px 1fr;
      }
      
      .header-menu-{{ section.id }} {
        order: 1;
      }

      .header-logo-{{ section.id }} {
        order: 2;
        text-align: center;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {

      .header-body-{{ section.id }} {
        grid-template-columns: {{ logo_width }}px 1fr 1fr;
      }
      
      .header-menu-{{ section.id }} {
        order: 2;
      }

      .header-logo-{{ section.id }} {
        order: 1;
        text-align: left;
      }
    }
  </style>
{% endif %}

{% if search_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-search-icon-{{ section.id }} {
        display: block;
      }

      .header-search-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if account_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-account-icon-{{ section.id }} {
        display: block;
      }

      .header-account-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if cart_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-cart-icon-{{ section.id }} {
        display: block;
      }

      .header-cart-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% comment %} FOR FREE THEMES{% endcomment %}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{% comment %} FOR FREE THEMES{% endcomment %}

<div class="section-{{ section.id }} header-{{ section.id }} {% if transparent %}transparent{% endif %} {% if show_type == "always" %}fixed{% elsif show_type == "scroll_up" %}scroll fixed{% else %}top{% endif %}" style="background-color:{{ background_color }};">
    <div class="section-{{ section.id }}-settings">
      <nav class="header-body-{{ section.id }}">
        <div class="header-menu-{{ section.id }}">
          {% if menu != blank %}
            <span class="header-menu-icon-{{ section.id }}">
              <svg width="25" height="18" viewBox="0 0 22 14" fill="" xmlns="http://www.w3.org/2000/svg">
                <rect y="6" width="22" height="2" rx="1"></rect>
                <rect y="12" width="22" height="2" rx="1"></rect>
                <rect width="22" height="2" rx="1"></rect>
              </svg>
            </span>
            <ul class="header-menu-list-{{ section.id }}">
              {% for link in menu.links %}
                <li class="header-menu-item-{{ section.id }} {% if link.links.size > 0 %}header-menu-item-parent-{{ section.id }}{% endif %}">
                  <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">{{ link.title }}</a>

                {% if link.links.size > 0 %}
                  <div class="header-mega-menu-{{ section.id }} header-menu-list-{{ section.id }}">
                    <div class="{% for child_link in link.links %}{% if child_link.links.size > 0 %} header-mega-menu-container-row-{{ section.id }}{% endif %}{% endfor %} header-mega-menu-container-{{ section.id }}">
                      {% for child_link in link.links %}
                        <div class="header-menu-item-{{ section.id }}">
                          <a href="{{ child_link.url }}" class="header-menu-link-{{ section.id }}">{{ child_link.title }}</a>
                          {% if child_link.links.size > 0 %}
                            <div class="header-mega-menu-child-list-{{ section.id }}">
                              {% for child_child_link in child_link.links %}
                                <div class="header-menu-item-{{ section.id }}">
                                  <a href="{{ child_child_link.url }}" class="header-menu-link-{{ section.id }} header-menu-child-link-{{ section.id }}">{{ child_child_link.title }}</a>
                                </div>
                              {% endfor %}
                            </div>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                </li>
              {% endfor %}
            </ul>

            <div class="header-menu-mobile-{{ section.id }}">
              <div class="header-menu-mobile-inner-{{ section.id }}">
                <div class="header-menu-list-{{ section.id }}">
                  {% for link in menu.links %}
                    {% if link.links.size > 0 %}
                      <div class="header-tab-{{ section.id }}">
                        <div class="header-tab-toggle-{{ section.id }}">
                          <div class="header-tab-toggle-left-{{ section.id }}">
                            <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">{{ link.title }}</a>
                          </div>
                          <svg class="header-tab-toggle-arrow-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                            <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                            </g>
                          </svg>
                        </div>
                        <div class="header-tab-text-{{ section.id }}" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                          <ul class="header-menu-list-{{ section.id }}">
                            {% for child_link in link.links %}
                              <li class="header-menu-item-{{ section.id }}">
                                <a href="{{ child_link.url }}" class="header-menu-link-{{ section.id }}">{{ child_link.title }}</a>
                                {% if child_link.links.size > 0 %}
                                  {% for child_child_link in child_link.links %}
                                    <a href="{{ child_child_link.url }}" class="header-menu-link-{{ section.id }} header-menu-child-link-{{ section.id }}">{{ child_child_link.title }}</a>
                                  {% endfor %}
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                      {% comment %} Only for calculating height: {% endcomment %}
                      <div class="header-tab-height-cal-{{ section.id }}">
                         <ul class="header-menu-list-{{ section.id }}">
                            {% for child_link in link.links %}
                              <li class="header-menu-item-{{ section.id }}">
                                <a href="{{ child_link.url }}" class="header-menu-link-{{ section.id }}">{{ child_link.title }}</a>
                                {% if child_link.links.size > 0 %}
                                  {% for child_child_link in child_link.links %}
                                    <a href="{{ child_child_link.url }}" class="header-menu-link-{{ section.id }}">{{ child_child_link.title }}</a>
                                  {% endfor %}
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                      </div>
                    {% else %}
                      <div class="header-menu-item-{{ section.id }}">
                        <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">{{ link.title }}</a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        <div class="header-logo-{{ section.id }}">
          {% if logo != blank %}
            <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} {% if logo_mobile != blank %}header-logo-desktop-{{ section.id }}{% endif %}">
              <img src="{{ logo | image_url }}" alt="{{ logo.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if second_logo != blank %}class="header-logo-first-{{ section.id }}"{% endif %}>
              {% if second_logo != blank %}
                <img src="{{ second_logo | image_url }}" alt="{{ second_logo.alt }}" {% if lazy %}loading="lazy"{% endif %} class="header-logo-second-{{ section.id }}">
              {% endif %}
            </a>
            {% if logo_mobile != blank %}
              <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} header-logo-mobile-{{ section.id }}">
                <img src="{{ logo_mobile | image_url }}" alt="{{ logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if second_logo_mobile != blank %}class="header-logo-first-{{ section.id }}"{% endif %}>
                {% if second_logo_mobile != blank %}
                  <img src="{{ second_logo_mobile | image_url }}" alt="{{ second_logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} class="header-logo-second-{{ section.id }}">
                {% endif %}
              </a>
            {% endif %}
          {% else %}
            <a href="{{ shop.url }}" class="header-logo-text-{{ section.id }}">{{ shop.name }}</a>
          {% endif %}
        </div>

        <div class="header-right-{{ section.id }}">
          {% if use_search %}
            <a href="{{ routes.search_url }}" class="header-search-{{ section.id }}">
              <span class="header-search-icon-{{ section.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 17.6 18.9" style="enable-background:new 0 0 17.6 18.9;" xml:space="preserve">
                  <path class="st0" d="M2.2,7.1c0-2.7,2.2-4.9,4.9-4.9c2.7,0,4.9,2.2,4.9,4.9C12,9.8,9.8,12,7.1,12C4.4,12,2.2,9.8,2.2,7.1z M7.1,0.2  c-3.8,0-6.9,3.1-6.9,6.9c0,3.8,3.1,6.9,6.9,6.9c1.2,0,2.3-0.3,3.3-0.9l5.3,5.3c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L12,11.9  c1.2-1.2,2-2.9,2-4.8C14,3.3,10.9,0.2,7.1,0.2z"></path>
                </svg>
              </span>
              <span class="header-search-text-{{ section.id }}">{{ search_text }}</span>
            </a>

          {% endif %}

          {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header-account-{{ section.id }}">
              <span class="header-account-icon-{{ section.id }}">
                 <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-account" fill="none" viewBox="0 0 18 19">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
                </svg>
              </span>
              <span class="header-account-text-{{ section.id }}">{{ account_text }}</span>
            </a>
          {%- endif -%}

          <a href="{{ routes.cart_url }}" class="header-cart-{{ section.id }}">
            <span class="header-cart-icon-{{ section.id }}">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 21.3 19.3" style="enable-background:new 0 0 21.3 19.3;" xml:space="preserve">
                <path class="st0" d="M20.4,0.2c-0.5-0.1-1.1,0.2-1.2,0.7l-2.9,11.2h-7l-2.5-12H1.1c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.1l2.5,12  h10.2l3.3-12.8C21.3,0.8,20.9,0.3,20.4,0.2z M10.1,17.6c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5s0.7-1.5,1.5-1.5  C9.5,16.1,10.1,16.8,10.1,17.6z M16.6,19.1c0.8,0,1.5-0.7,1.5-1.5s-0.7-1.5-1.5-1.5c-0.8,0-1.5,0.7-1.5,1.5S15.8,19.1,16.6,19.1z"></path>
              </svg>
            </span>
            <span class="header-cart-text-{{ section.id }}">{{ cart_text }}</span>
            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </a>
        </div>
      </nav>
    </div>
</div>

<script>
  function initHeader() {
      let header = document.querySelector('.header-{{ section.id }}');  
      if (header) {  
          header.classList.add('active');  

          if(!header.classList.contains('top')) {
            if (window.scrollY > 0) {  
                header.classList.add('onscroll');  
            }  
    
            let lastScrollTop = window.scrollY;
    
            document.addEventListener('scroll', () => {  
                const currentScrollTop = window.scrollY;
     
                if (header.classList.contains('scroll')) {  
                    if (currentScrollTop > lastScrollTop) {  
                        header.classList.remove('active');  
                    } else {   
                        header.classList.add('active');  
                    }  
                }  
     
                if (header.classList.contains('transparent')) {  
                    if (currentScrollTop === 0) {   
                        header.classList.remove('onscroll');  
                    } else {  
                        header.classList.add('onscroll');  
                    }  
                }  
      
                lastScrollTop = currentScrollTop;  
            });            
          }

          let items = header.querySelectorAll('.header-menu-item-parent-{{ section.id }}');
          if(items) {
            items.forEach(el => {
              el.addEventListener("mouseenter", () => {  
                header.classList.add('open');  
              });  
          
              el.addEventListener("mouseleave", () => {  
                header.classList.remove('open');  
              });  
            })
          }

          let burger_icon = header.querySelector('.header-menu-icon-{{ section.id }}');
          let headerBody = header.querySelector('.header-body-{{ section.id }}');
          let headerMobileInner = header.querySelector('.header-menu-mobile-inner-{{ section.id }}');
          let headerMegaMenus = header.querySelectorAll('.header-mega-menu-{{ section.id }}');
          if(burger_icon) {
            burger_icon.addEventListener('click', () => {
              header.classList.toggle('open');
              headerMobileInner.style.paddingTop = headerBody.clientHeight + {{ padding_top | times: 3 }} - 25 + "px";
              if(header.classList.contains('open')) {
                document.body.style.overflow = 'hidden';
              } else {
                document.body.style.overflow = '';
              }
            })
          }

          if(headerMegaMenus) {
            headerMegaMenus.forEach(el => {
              el.style.paddingTop = headerBody.clientHeight + {{ padding_top | times: 3.2 }} - 25 + "px";
            })
          }

          const answerPaddingTop = 30;
          const answerPaddingBottom = 0;
      
          const faqs = document.querySelectorAll(
            '.header-tab-{{ section.id }}'
          );
          const buttons = document.querySelectorAll(
            '.header-tab-toggle-{{ section.id }}'
          );
          const answers = document.querySelectorAll(
            '.header-tab-text-{{ section.id }}'
          );
          const answersHeightCalElements = document.querySelectorAll(
            '.header-tab-height-cal-{{ section.id }}'
          );
          const icons = document.querySelectorAll(
            '.header-tab-toggle-arrow-{{ section.id }}'
          );
      
          let activeIndex = -1;
      
          function openAnswer(index) {
            const height = answersHeightCalElements[index].offsetHeight;
      
            answers[index].style.display = 'block';
            setTimeout(() => {
              answers[index].style.paddingTop = `${answerPaddingTop}px`;
              answers[index].style.paddingBottom = `${answerPaddingBottom}px`;
              answers[index].style.height = `${height + 30}px`;
              icons[index].style.setProperty('--rotate', '180deg');
            });
          }
          function closeAnswer(index) {
            answers[index].style.paddingTop = 0;
            answers[index].style.paddingBottom = 0;
            answers[index].style.height = 0;
            icons[index].style.setProperty('--rotate', '0deg');
      
            setTimeout(() => {
              answers[index].style.display = 'none';
            }, 300);
          }
          function toggleAnswer(index) {
            if (answers[index].style.display === 'none') {
              openAnswer(index);
              activeIndex = index;
            } else {
              closeAnswer(index);
              activeIndex = -1;
            }
          }
          function closeAllAnswerBut(index) {
            answers.forEach((answer, i) => {
              if (i !== index) {
                closeAnswer(i);
              }
            });
          }
      
          // When clicked, toggle the answer, animate the answer's height:
          buttons.forEach((button, index) => {
            button.addEventListener('click', () => {
              toggleAnswer(index);
              closeAllAnswerBut(index);
            });
          });
      
          // When the window is resized, debounce the answer's height:
          let resizeTimer;
          window.addEventListener('resize', () => {
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(() => {
              if (activeIndex !== -1) {
                const height = answersHeightCalElements[activeIndex].offsetHeight;
                answers[activeIndex].style.height = `${height}px`;
              }
            }, 250);
          });
      }  
  }  

  document.addEventListener('DOMContentLoaded', initHeader);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initHeader);
     document.addEventListener('shopify:section:load', initHeader);
  }
</script>

{% schema %}
  {
    "name": "SS - Header",
    "settings": [
      {
        "type": "header",
        "content": "Header settings"
      },
      {
        "type": "select",
        "id": "show_type",
        "label": "Reveal menu",
        "default": "always",
        "options": [
          {
            "label": "Scroll up",
            "value": "scroll_up"
          },
          {
            "label": "Always/sticky",
            "value": "always"
          },
          {
            "label": "Only top",
            "value": "top"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "transparent",
        "label": "Transparent background",
        "default": false
      },
      {
        "type": "header",
        "content": "Layout settings"
      },
      {
        "type": "range",
        "id": "body_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Logo spacing",
        "default": 40
      },
      {
        "type": "range",
        "id": "body_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Logo spacing - mobile",
        "default": 12
      },
      {
        "type": "header",
        "content": "Menu settings"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "range",
        "id": "mega_menu_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Mega menu roundness - dekstop",
        "default": 0
      },
      {
        "type": "header",
        "content": "Menu list settings"
      },
      {
        "type": "range",
        "id": "list_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 48
      },
      {
        "type": "range",
        "id": "list_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 24
      },
      {
        "type": "header",
        "content": "Menu link settings"
      },
      {
          "type": "checkbox",
          "id": "link_custom",
          "label": "Use custom font",
          "default": false
      },
      {
          "type": "font_picker",
          "id": "link_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
      },
      {
          "type": "range",
          "id": "link_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
      },
      {
          "type": "range",
          "id": "link_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 14
      },
      {
          "type": "range",
          "id": "link_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 130
      },
      {
        "type": "header",
        "content": "Menu icon settings"
      },
      {
          "type": "range",
          "id": "menu_icon_size_mobile",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size - mobile",
          "default": 26
      },
      {
        "type": "header",
        "content": "Logo settings",
        "info": "Leave blank to display shop name instead of logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "image_picker",
        "id": "second_logo",
        "label": "Second logo",
        "info": "Use for transparent header"
      },
      {
        "type": "image_picker",
        "id": "logo_mobile",
        "label": "Logo - mobile"
      },
      {
        "type": "image_picker",
        "id": "second_logo_mobile",
        "label": "Second logo - mobile",
        "info": "Use for transparent header"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 400,
        "step": 10,
        "unit": "px",
        "label": "Width",
        "default": 250
      },
      {
        "type": "range",
        "id": "logo_width_mobile",
        "min": 50,
        "max": 400,
        "step": 10,
        "unit": "px",
        "label": "Width - mobile",
        "default": 170
      },
      {
        "type": "select",
        "id": "logo_position",
        "label": "Position - desktop",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ]
      },
      {
        "type": "header",
        "content": "Shop name settings"
      },
      {
          "type": "checkbox",
          "id": "name_custom",
          "label": "Use custom font",
          "default": false
      },
      {
          "type": "font_picker",
          "id": "name_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
      },
      {
          "type": "range",
          "id": "name_size",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Font size",
          "default": 32
      },
      {
          "type": "range",
          "id": "name_size_mobile",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 20
      },
      {
          "type": "range",
          "id": "name_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 130
      },
      {
        "type": "header",
        "content": "Right navigation settings"
      },
      {
        "type": "range",
        "id": "right_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 48
      },
      {
        "type": "range",
        "id": "right_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 16
      },
      {
        "type": "header",
        "content": "Right link settings"
      },
      {
          "type": "checkbox",
          "id": "right_link_custom",
          "label": "Use custom font",
          "default": false
      },
      {
          "type": "font_picker",
          "id": "right_link_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
      },
      {
          "type": "range",
          "id": "right_link_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
      },
      {
          "type": "range",
          "id": "right_link_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 130
      },
      {
        "type": "header",
        "content": "Right icon settings"
      },
      {
          "type": "range",
          "id": "icon_size",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size",
          "default": 20
      },
      {
          "type": "range",
          "id": "icon_size_mobile",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size - mobile",
          "default": 18
      },
      {
        "type": "header",
        "content": "Search settings"
      },
      {
        "type": "checkbox",
        "id": "use_search",
        "label": "Use search",
        "default": true
      },
      {
        "type": "text",
        "id": "search_text",
        "label": "Text",
        "default": "SEARCH"
      },
      {
        "type": "checkbox",
        "id": "search_icon_desktop",
        "label": "Icon on dekstop",
      },
      {
        "type": "header",
        "content": "Account settings"
      },
      {
        "type": "text",
        "id": "account_text",
        "label": "Text",
        "default": "ACCOUNT"
      },
      {
        "type": "checkbox",
        "id": "account_icon_desktop",
        "label": "Icon on dekstop",
      },
      {
        "type": "header",
        "content": "Cart settings"
      },
      {
        "type": "text",
        "id": "cart_text",
        "label": "Text",
        "default": "CART"
      },
      {
        "type": "checkbox",
        "id": "cart_icon_desktop",
        "label": "Icon on dekstop",
      },
      {
        "type": "header",
        "content": "Menu colors"
      },
      {
        "type": "color",
        "label": "Mobile menu background color",
        "id": "mobile_menu_bg_color",
        "default": "#f1f0ed"
      },
      {
        "type": "color",
        "label": "Link color",
        "id": "link_color",
        "default": "#67645e"
      },
      {
        "type": "color",
        "label": "Link hover color",
        "id": "link_hover_color",
        "default": "#67645e"
      },
      {
        "type": "color",
        "label": "Link color over hero",
        "id": "link_hero_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Link hover color over hero",
        "id": "link_hover_hero_color",
        "default": "#67645e"
      },
      {
        "type": "header",
        "content": "Shop name colors"
      },
      {
        "type": "color",
        "label": "Color",
        "id": "name_color",
        "default": "#67645e"
      },
      {
        "type": "color",
        "label": "Color hover",
        "id": "name_hover_color",
        "default": "#67645e"
      },
      {
        "type": "color",
        "label": "Color over hero",
        "id": "name_hero_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Color hover over hero",
        "id": "name_hover_hero_color",
        "default": "#67645e"
      },
      {
        "type": "header",
        "content": "Right navigation colors"
      },
      {
        "type": "color",
        "label": "Right link color",
        "id": "right_link_color",
        "default": "#67645e"
      },
      {
        "type": "color",
        "label": "Right link hover color",
        "id": "right_link_hover_color",
        "default": "#67645e"
      },
      {
        "type": "color",
        "label": "Right link color over hero",
        "id": "right_link_hero_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Right link hover color over hero",
        "id": "right_link_hover_hero_color",
        "default": "#67645e"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#F1F0ED"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 52,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 20
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 3
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 1
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 12
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 12
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 2
      },
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 100
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "SS - Header"
      }
    ]
  }
{% endschema %}