{% assign isTrouve = false %}
{%- for block in section.blocks -%}
  {% if block.settings.title != blank or block.settings.content != blank  or block.settings.custom_icon != blank %}
    {% assign isTrouve = true %}
  {%endif%}
{% endfor %}
{%- if section.blocks.size > 0 and isTrouve -%}
<div class="section-spacing section-spacing--tight {% if section.settings.separate_section_with_border %}bordered-section{% endif %}" style="{% render 'surface', background: section.settings.block_background %}">
  <div class="">
    <div class="section-stack main-stack-container">
            {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: section.settings.content_alignment -%}
    
    <div class="v-stack gap-8">
      {%- capture section_content -%}
        {%- for block in section.blocks -%}
          <div class="text-with-icons__item swiper-slide {% if forloop.first %}is-selected{% endif %} {% unless section.settings.stack_on_mobile %}snap-center{% endunless %}" role="group" aria-label="{{ 'general.accessibility.item_nth_of_count' | t: index: forloop.index, count: section.blocks.size }}" {{ block.shopify_attributes }}>
            <div class="v-stack gap-6 justify-items-center sm:justify-items-{{ section.settings.text_alignment }}">
              {%- if block.settings.custom_icon != blank -%}
                {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
                {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.custom_icon.width }}{%- endcapture -%}
                {%- capture style -%}--image-mobile-max-width: {{ block.settings.mobile_icon_width }}px; --image-max-width: {{ block.settings.icon_width }}px{%- endcapture -%}
                {{- block.settings.custom_icon | image_url: width: block.settings.custom_icon.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'constrained-image', style: style -}}
              {%- else -%}
                <div style="{% render 'surface', text_color: section.settings.icon_color %}">
                  {%- render 'icon' with block.settings.icon, width: block.settings.mobile_icon_width, class: 'sm:hidden' -%}
                  {%- render 'icon' with block.settings.icon, width: block.settings.icon_width, class: 'hidden sm:block' -%}
                </div>
              {%- endif -%}

              {%- if block.settings.title != blank or block.settings.content != blank -%}
                <div class="v-stack gap-2 text-center sm:text-{{ section.settings.text_alignment }} content-part">
                  {% render 'rating-group-bag' %}
                  {%- if block.settings.title != blank -%}
                    <p class="h6">{{ block.settings.title }}</p>
                  {%- endif -%}

                  {%- if block.settings.content != blank -%}
                    <div class="prose">
                      {{- block.settings.content -}}
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}

      {%- endcapture -%}

      <swiper-component data-loop="true" data-autoplay="2000" class="swiper text-with-icons text-with-icons--stacked" role="region" style="{% render 'surface', text_color: section.settings.text_color %}">
          <div class="swiper-wrapper">
            {{- section_content -}}
          </div>
        <div class="swiper-pagination"></div>
        </swiper-component>
    </div>
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}
{
"name": "t:sections.text_with_icons.name_1",
"class": "shopify-section--text-with-icons shopify-section--text-with-icons-v2",
"tag": "section",
"disabled_on": {
  "groups": ["header", "custom.overlay"]
},
"settings": [
  {
    "type": "checkbox",
    "id": "separate_section_with_border",
    "label": "t:global.section.separate_section_with_border",
    "default": true
  },
  {
    "type": "color",
    "id": "icon_color",
    "label": "t:sections.text_with_icons.icon_color"
  },
  {
    "type": "color",
    "id": "text_color",
    "label": "t:global.text.text"
  },
  {
      "type": "color",
      "id": "block_background",
      "label": "t:sections.image_with_text_block.block_background"
  },
  {
    "type": "select",
    "id": "text_alignment",
    "label": "t:global.text.alignment",
    "options": [
      {
        "value": "start",
        "label": "t:global.position.left"
      },
      {
        "value": "center",
        "label": "t:global.position.center"
      },
      {
        "value": "end",
        "label": "t:global.position.right"
      }
    ],
    "default": "center"
  },
  {
        "type": "header",
        "content": "t:global.section.header_category"
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:global.text.subheading",
        "default": "About"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "t:global.text.heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "t:global.text.content"
      }
],
"blocks": [
  {
    "type": "item",
    "name": "t:sections.text_with_icons.blocks.item.name",
    "settings": [
      {
        "type": "image_picker",
        "id": "custom_icon",
        "label": "t:global.icons.custom_icon",
        "info": "t:global.icons.custom_icon_info"
      },
      {
        "type": "range",
        "id": "icon_width",
        "min": 16,
        "max": 400,
        "step": 4,
        "unit": "px",
        "label": "t:global.icons.icon_width",
        "default": 200
      },
      {
        "type": "range",
        "id": "mobile_icon_width",
        "min": 16,
        "max": 400,
        "step": 4,
        "unit": "px",
        "label": "t:global.icons.mobile_icon_width",
        "default": 200
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "t:global.text.heading",
        "default": "Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "t:global.text.content",
        "default": "<p>Short content about your store</p>"
      }
    ]
  }
],
"presets": [
  {
    "name": "t:sections.text_with_icons.presets.text_with_icons.name_1",
    "blocks": [
      {
        "type": "item",
        "settings": {
          "title": "Free shipping",
          "content": "<p>Free worldwide shipping and returns - customs and duties taxes included</p>"
        }
      },
      {
        "type": "item",
        "settings": {
          "title": "Customer service",
          "content": "<p>We are available from monday to friday to answer your questions.</p>"
        }
      },
      {
        "type": "item",
        "settings": {
          "title": "Secure payment",
          "content": "<p>Your payment information is processed securely.</p>"
        }
      }
    ]
  }
]
}
{% endschema %}